@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Space+Grotesk:wght@400;500;600;700&display=swap");

body {
  font-family: "Righteous", cursive;
  font-family: "Space Grotesk", sans-serif;
  background-color: rgb(255, 255, 255);
  background-image: url(/src/image/backgroundimg.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.title-leader-wrap {
  display: flex;
  padding: 0% 15% 0% 15%;
  justify-content: start;
  align-items: start;
  text-align: start;
}

.container-wrap {
  display: flex;
  padding: 0% 15% 0% 15%;
  text-align: center;
  align-items: start;
  justify-content: space-evenly;
}

.score-btn-wrap {
  display: flex;
  text-align: center;
  align-items: center;
}

.refresh-btn {
  margin: 10px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: rgb(245, 113, 104);
}

.refresh-btn:hover {
  filter: drop-shadow(0 0 0.75rem rgb(243, 151, 170));
}

.refresh-btn:active {
  background-color: gray;
}

.leader-board {
  background-color: gray;
  height: clamp(50px, 100%, 200px);
  width: 250px;
  overflow-x: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: block;
  text-align: start;
  align-items: center;
  background-color: gainsboro;
  border: 1px solid gainsboro; /* Simplify border styling */
  border-bottom: none;
}

ul li:last-child {
  border-bottom: 1px solid black; /* Set the bottom border for the last item */
}

ul li p {
  background-color: rgb(164, 146, 243);
  padding: 5px;
  margin: 0;
  font-family: "Righteous", cursive;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.form {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  align-items: start;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.input-name-score {
  height: 20px;
  width: 230px;
  background-color: aquamarine;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(204, 250, 152);
}

.input-name-score:focus {
  outline: none;
  border: 1px solid coral;
  box-shadow: 0 0 5px coral;
}

.submit-btn {
  position: absolute;
  right: -10px;
  top: 60px;
  margin: 10px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: rgb(125, 214, 24);
}

.submit-btn:hover {
  filter: drop-shadow(0 0 0.75rem rgb(93, 146, 31));
}

.submit-btn:active {
  background-color: gray;
}

@media (max-width: 768px) {
  .title-leader-wrap {
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
  }

  .container-wrap {
    display: flex;
    flex-direction: column;
    padding: 0% 15% 0% 15%;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
  }
}
